.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main.table {
  width: 72vw;
  height: 70vh;
  background-color: rgba(193, 188, 188, 0.333);

  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  overflow: hidden;
}

table {
  width: 100%;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: 0.8rem 1rem;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: 0.8rem auto;
  overflow: auto;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;
  vertical-align: middle;
}

table,
th,
td {
  padding: 1rem;
  border-collapse: collapse;
  text-align: center;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5defe;
}

tbody tr:nth-child(even) {
  background-color: #0003;
}

tbody {
  font-family: "Poppins";
  font-weight: 500;
}

/* tbody tr:hover {
  background-color: #fff6;
} */

.status {
  padding: 0.4rem 0;
  border-radius: 2rem;
}

.status.attended {
  background-color: #86e49d;
  color: #006b21;
}

.status.missed {
  background-color: #d893a3;
  color: #b30021;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}
