.App {
  text-align: center;
  font-family: "Roboto", "Courier New", Courier, monospace;
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 94vh;
}

.error-message {
  color: red;
}

.main {
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #000; */

  /* margin: 0; */
}

.flex-items {
  display: flex;
  gap: 5px;
}
