.App {
  text-align: center;
  font-family: "Roboto", "Courier New", Courier, monospace;
  /* background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-color: #fff; */
  height: 94vh;
  overflow: auto;
  position: relative;
}

.error-message {
  color: red;
}

.main {
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-items {
  display: flex;
  gap: 5px;
}
