.App {
  text-align: center;
  font-family: "Roboto", "Courier New", Courier, monospace;
  /* background-image: url("/public/bg.png"); */
  height: 100vh;
  background-color: green;
}

.error-message {
  color: red;
}

.main {
  height: 90vh;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #000; */
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: 0; */
}

.flex-items {
  display: flex;
  gap: 5px;
}
